
.menubar {
  z-index: 1000;
  height: 70px;
  width: 90%;
  position: absolute;
  top: 2px;
  bottom: 0;
  margin: 3rem;
  display: flex;
  justify-content:center;
  align-items:center;

  h1{
    flex: 1;
    font-size: 35px;
    color: white;
  }

  nav{
    max-width: 90%;
    display: flex;
    align-items: center;
    a{
      padding:1rem;
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      font-weight: bold;

    }
  }
}

@media screen and (max-width: 1000px) {

  .menubar{
    h1{
      text-align: center;
    }
    nav{
      display: none;
    }
  }

}
